@font-face {
    font-family: "senor-saturno";
    src: url("fonts/senor-saturno.regular.ttf");
}

@font-face {
    font-family: "chunkyCPC";
    src: url("fonts/WavesChunkyCPC-Regular.otf");
}

body {
    font-family: chunkycpc;
    margin: auto;
    background-color: grey;
}

h1 {
    font-size: 35px;
}

.center {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}
.sidepanel {
    width: 20%;
    font-size: 25px;
    color: white;
}

canvas {
    border: solid rgb(255, 255, 255) 3px;
}

/* Color Pallette */
/*
Darker Green: rgb(63, 142, 111),
Teal: rgb(95, 207, 169),
Mint: rgb(152, 232, 193),
White: rgb(255, 255, 255),
Baby Blue: rgb(123, 173, 224),
Indigo: rgb(80, 73, 203),
Violet: rgb(60, 26, 120)
*/